{% extends "layout.html" %}
{% block content %}
<script type=text/javascript>
  $(function() {
	$(window).load(function () {
		$.ajax({
			type: "GET",
			url: $SCRIPT_ROOT + "/listFilterCategories/",
			contentType: "application/json; charset=utf-8",
			success: function (json) {
				html = '<form role="form">';
				var data = jQuery.parseJSON(json);
				for (datum in data) {
					html += '<div class="checkbox col-md-2">'
					html += '<label>';
					html += '<input type="checkbox" class="filterCheck" id="'+data[datum]+'">'+data[datum];
					html += '</label></div>';
				}
				html += '</form>';
				$('#chooseFilters').html(html);
			}
		});
	});

	$("#loadBtn").click(function() {
		list = [];
		data = {};
		$('.filterCheck:checked').each(function () {
			list.push($(this).attr('id'));
		});
		data['filters'] = list.join(',')
		$.ajax({
			type: "GET",
			data: data,
			url: $SCRIPT_ROOT + "/populateFilters/", 
			contentType: "application/json; charset=utf-8",
			success: function(data) {
				var obj = jQuery.parseJSON(data);
				//console.log(obj);
				var html = '<form role="form">';
				for (key in obj.filters) {
					html += '<div class="form-group col-md-2 filterDiv">';
					html += '<label for="'+key+'">'+key+'</label>';
					html += '<select class="form-control filter" id="'+key+'">';
					html += '<option id="all"></option>';
					for (value in obj.filters[key]) {
						html += '<option id="'+obj.filters[key][value]+'">'+obj.filters[key][value]+'</option>';
					}
					html += '</select></div>'
				}
				html += '<div class="clearfix"></div>';
				html += '<div class="form-group col-md-2">';
				html += '<label for="category">Group by</label>';
				html += '<select class="form-control category" id="category">';
				for (value in obj.categories) {
					html += '<option id="'+obj.categories[value]+'">'+obj.categories[value]+'</option>';
				}
				html += '</select></div>'
				html += "<button type='button' class='btn btn-primary' id='filterBtn' name='filterBtn'>Filter</button>"
				html += "</form>";
				$('#dropdown').html(html);
				$("#filterBtn").click(function() {
					var filters = {};
					var data = {};
					$(".filter").each(function () {
						filterKey = $(this).attr('id');
						filterValue = $(this).val();
						if (filterValue != '') {
							filters[filterKey] = $(this).val();
						}
					});
					
					filters['category'] = $('#category').val();
					console.log(data);
					$.ajax({
						type: "GET",
						url: $SCRIPT_ROOT + "/filter/",
						contentType: "application/json; charset=utf-8",
						data: filters,
						success: function(json) {
							data = jQuery.parseJSON(json);
							console.log(data.length);
							console.log(data);
							$('#vis').vis({'data': data});
						}
					});
				});
				d3.select('#vis')
				.append('svg')
				.attr('class','drawArea')
				.attr('width', 1300)
				.attr('height', 2300)
				$('.filterDiv').scrollView();
			}
		});
	});

    $("#submitBtn").click(function() {
         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/echo/",
            contentType: "application/json; charset=utf-8",
            data: { echoValue: $('input[name="echoText"]').val() },
            success: function(data) {
                $('#echoResult').text(data.value);
            }
        });    
    });
  });
</script>
<br />
<div id='chooseFilters'></div>
<button type='button' id='loadBtn' name='loadBtn' class="btn btn-primary center-block"'>Load fields</button><br /><br />
<div id='dropdown'></div>
<div id='vis'></div>
{% endblock %}
